.menu_title_subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_menu {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu_menu button {
  margin: 1.5rem;
}

.menu_menu_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.menu_menu_icon {
  font-size: 2rem;
  margin: 1rem;
}

@media screen and (min-width: 2000px) {
  .menu_menu button {
    margin: 3rem;
    width: 30rem;
    height: 5rem;
    font-size: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .menu_menu button {
    margin: 0.2rem;
  }
}

@media screen and (max-width: 650px) {
  .menu_menu {
    flex-direction: column;
  }

  .menu_menu button {
    margin: 1.5rem;
  }
}
