@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;
  --font-menu: "Merienda", cursive;

  --color-golden: #dcca87;
  --color-black: #000000;
  --color-gray: #545454;
  --color-beige: #e4d0c2;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
  --color-yellow: #d4b850;
  --color-light_grey: rgb(194, 193, 193);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--color-black);
}

a {
  color: unset;
  text-decoration: none;
}
